// ! breakpoints
$breakpoints: ("mobile": 250px, "mini-tablet": 481px, "tablet": 768px, "laptop": 1025px, "tv": 1281px);

@mixin mobile {
	@media (min-width: map-get($breakpoints, "mobile")) {
		@content
	}
}

;

@mixin mini-tablet {
	@media (min-width: map-get($breakpoints, "mini-tablet")) {
		@content
	}
}

;

@mixin tablet {
	@media (min-width: map-get($breakpoints, "tablet")) {
		@content
	}
}

;

@mixin laptop {
	@media (min-width: map-get($breakpoints, "laptop")) {
		@content
	}
}

;

@mixin tv {
	@media (min-width: map-get($breakpoints, "tv")) {
		@content
	}
}

;

@mixin breakpoint($bp:0) {
	@media (min-width: $bp) {
		@content
	}
}

;

@mixin flex($align:center, $direction:row, $justify:center) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
	flex-direction: $direction;
}

;

@mixin equal($value:0) {
	height: $value;
	width: $value;
}

@font-face {
	font-family: zen;
	src: url("/zendots.ttf");
}

@font-face {
	font-family: aeonik;
	src: url("/AeonikTRIAL-Bold.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
$montserrat: 'Montserrat',
sans-serif;



* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

body {
	background-color: rgba(6, 11, 39, 1);
}

.container {
	color: white;
	overflow: hidden;

	header {
		padding-bottom: 12rem;

		nav {
			@include flex($justify:space-between);
			height: 50px;
			padding: 2.5rem 1rem;

			@include tablet() {
				padding: 4rem 2.5rem;
			}

			.logo {
				@include flex;
				gap: .5rem;

				img {
					width: 150px;

					@include laptop() {
						width: 250px;
					}
				}
			}

			.nav-actions {
				@include flex;
				gap: 1.5rem;
				min-height: 100%;

				@include laptop() {
					gap: 3rem;
				}

				button {
					height: 27px;
					width: 111px;
					border-radius: .75rem;
					@include flex;
					border: none;
					background-color: rgba(44, 55, 75, 1);
					color: white;
					font-weight: 400;
					font-family: $montserrat;

					@include tablet() {
						height: 50px;
						width: 165px;
						border-radius: 1.5rem;
					}

					@include laptop() {
						cursor: pointer;
					}

					span {
						font-size: .6875rem;

						@include tablet() {
							font-size: 1rem;
						}
					}
				}

				>span {
					@include flex;
					animation: fade infinite 2s alternate-reverse;

					@keyframes fade {
						0% {
							opacity: 0;
						}

						50% {
							opacity: 1;
						}
					}
				}
			}

			@include tablet() {
				height: 100px;
			}
		}

		.hero {
			height: 85%;
			@include flex($direction:column, $justify:flex-start);
			gap: 4rem;
			padding-top: 5rem;

			@include tablet() {
				gap: 6rem;
				padding-top: 7rem;
			}

			@include laptop() {
				gap: 8rem;
				padding-top: 10rem;
			}

			>div {

				// first div in class
				&:nth-of-type(1) {
					text-align: center;

					* {
						font-weight: 700;
						font-family: aeonik;
					}

					h2 {
						font-size: 1.0625rem;

						@include tablet() {
							font-size: 1.75rem;
						}

						@include laptop() {
							font-size: 2.75rem;
						}
					}

					p {
						font-size: .75rem;

						@include tablet() {
							font-size: .9375rem;
						}

						@include laptop() {
							font-size: 1.25rem;
						}
					}
				}

				// second div in class
				&:nth-of-type(2) {
					@include flex($direction:column);
					gap: 3rem;

					@include tablet() {
						gap: 5rem;
					}

					@include laptop() {
						gap: 8rem;
					}

					>div {

						// children div from parent div in class
						&:nth-of-type(1) {
							@include flex($direction:column);
							gap: .5rem;

							p {
								font-size: .75rem;
								font-weight: 700;
								font-family: aeonik;

								@include tablet() {
									font-size: .9375rem;
								}

								@include laptop() {
									font-size: 1.25rem;
								}
							}

							button {
								height: 45px;
								width: 225px;
								border-radius: 2rem;
								background: linear-gradient(110.97deg,
										rgba(255, 255, 255, 0.5) -4.87%,
										rgba(110, 162, 200, 0.5) -4.87%,
										rgba(255, 255, 255, 0.268229) 45.57%,
										rgba(255, 255, 255, 0) 103.95%);
								border: none;
								outline: none;
								backdrop-filter: blur(25px);
								font-family: zen;
								letter-spacing: 1px;

								@include tablet() {
									width: 255px;
									border-radius: 3rem;
								}

								@include laptop() {
									height: 70px;
									width: 295px;
									border-radius: 4rem;
									cursor: pointer;
								}

								span {
									font-size: 15px;
									font-weight: 400;
									color: white;

									@include tablet() {
										font-size: 1.125rem;
									}

									@include laptop() {
										font-size: 1.25rem;
									}
								}
							}
						}

						&:nth-of-type(2) {
							@include flex($direction:column);
							gap: .5rem;

							@include tablet() {
								gap: .7rem;
							}

							@include laptop() {
								gap: .9rem;
							}

							p {
								font-weight: 700;
								font-size: .8125rem;
								font-family: aeonik;

								@include tablet() {
									font-size: .9375rem;
								}

								@include laptop() {
									font-size: 1.25rem;
								}
							}

							div {
								position: relative;
								@include flex;
								height: 45px;
								width: 225px;
								border-radius: 2rem;
								background: linear-gradient(110.97deg,
										rgba(255, 255, 255, 0.5) -4.87%,
										rgba(110, 162, 200, 0.5) -4.87%,
										rgba(255, 255, 255, 0.268229) 45.57%,
										rgba(255, 255, 255, 0) 103.95%);
								font-family: zen;

								@include tablet() {
									width: 255px;
									border-radius: 3rem;
									font-size: .9375rem;
								}

								@include laptop() {
									height: 70px;
									width: 295px;
									border-radius: 4rem;
									font-size: 1.25rem;
								}

								span {
									padding-inline-start: .5rem;
									font-weight: 400;
								}

								img {
									position: absolute;
									right: 10%;

									@include laptop() {
										@include equal(25px);
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// page 2
	.main {
		gap: 8rem;
		@include flex($direction:column);

		@include laptop() {
			// @include flex($justify:space-between);
			padding-inline: 2.5rem;
			gap: 3rem;
		}

		.announcements {
			@include flex($direction:column);
			gap: 1.2rem;

			@include tablet() {
				gap: 1.5rem;
			}

			@include laptop() {
				gap: 1.75rem;
			}

			h3 {
				text-transform: capitalize;
				font-size: .875rem;
				font-family: zen;
				font-weight: 400;

				@include tablet() {
					font-size: 1.125rem;
				}

				@include laptop() {
					font-size: 1.375rem;
				}
			}

			.drawing {
				height: 160px;
				width: 320px;

				@include laptop() {
					min-height: 300px;
					width: 550px;
				}

				.nav {
					border-top-right-radius: .5rem;
					border-top-left-radius: .5rem;
					height: 10px;
					background-color: rgba(149, 190, 220, 1);
					@include flex($justify:flex-start);
					gap: .25rem;
					padding-inline-start: 3%;

					span {
						@include equal(5px);
						background-color: rgba(14, 19, 48, 1);
						border-radius: 50%;
					}
				}

				.body {
					position: relative;
					border: 1px solid rgba(40, 45, 69, 1);
					height: calc(100% - 10px);
					border-bottom-left-radius: 6px;
					border-bottom-right-radius: 6px;
					@include flex($direction:column);
					gap: 1rem;

					@include laptop() {
						gap: 2rem;
					}

					* {
						font-weight: 700;
						font-family: aeonik;
					}

					span {
						@include flex;
						@include equal(1rem);

						@include laptop() {
							@include equal(2rem)
						}

						position: absolute;
						top: 10%;
						left: 5%;

						img {
							object-fit: scale-down;
							@include equal(inherit);
						}
					}

					p {
						padding-block-start: 2rem;
						text-align: center;
						font-size: 11px;

						@include laptop() {
							font-size: 14px;
						}
					}

					button {
						height: 20px;
						width: 100px;
						border: none;
						outline: none;
						border-radius: 10px;
						font-size: 7px;
						color: rgba(20, 32, 63, 1);
						background-color: rgba(165, 170, 181, 0.88);

						@include laptop() {
							font-size: 11px;
							cursor: pointer;
							height: 35px;
							border-radius: 20px;
							width: 150px;
						}
					}
				}
			}
		}

		.features {
			@include flex($direction:column);
			gap: 5rem;
			padding-inline: 1.5rem;
			width: 100%;
			font-family: aeonik;

			@include laptop() {
				width: 80%;
			}

			>div {
				gap: .5rem;
				width: 100%;
				@include flex($justify:space-between);

				@include laptop() {
					width: 75%;
					gap: 1rem;
				}

				.left {
					position: relative;
					height: 50px;
					width: 15%;
					@include flex;

					@include laptop() {
						width: 100px;
					}
				}

				&:nth-of-type(1) {
					.left {
						img {
							position: absolute;

							&:nth-of-type(2) {
								right: 16px;
								top: 12px;

								@include laptop() {
									right: 25px;
									top: 12px;
								}
							}
						}
					}
				}

				&:nth-of-type(2) {
					.left {
						img {
							position: absolute;

							&:nth-of-type(2) {
								right: 12px;
								top: 8px;
								z-index: -1;

								@include laptop() {
									right: 22px;
									top: 7px;
								}
							}
						}
					}
				}

				&:nth-of-type(3) {
					.left {
						img {
							position: absolute;

							&:nth-of-type(2) {
								right: 14px;
								top: 15px;
								z-index: -1;

								@include laptop() {
									right: 28px;
									top: 15\6px;
								}
							}
						}
					}
				}

				.right {
					@include flex($direction:column);
					width: 85%;

					* {
						font-weight: 700;
					}

					h4 {
						font-size: 13px;
						text-transform: capitalize;

						@include laptop() {
							font-size: 17px;
						}
					}

					p {
						text-align: center;
						font-size: 11px;

						@include laptop() {
							font-size: 14px;
							width: 65%;
						}
					}
				}
			}
		}
	}

	// page 3
	.documentation-container {
		padding-top: 8rem;
		@include flex($direction:column-reverse);
		gap: 5rem;
		padding-inline: 2.5rem;
		overflow: hidden;

		@include laptop() {
			gap: 2rem;
		}

		.left {
			@include flex($direction:column);
			gap: 1.25rem;

			h3 {
				font-family: zen;
				text-transform: capitalize;
				font-weight: 400;
				font-size: .875rem;

				@include laptop() {
					font-size: 1rem;
				}
			}

			p {
				text-align: center;
				font-family: aeonik;
				width: 75%;
				font-size: 1rem;

				@include laptop() {
					font-size: 1.15rem;
				}

				span {
					color: rgba(179, 205, 228, 1);
				}
			}

			button {
				font-weight: 700;
				background-color: rgba(149, 190, 220, 0.81);
				padding: .5rem 1rem;
				font-size: 10px;
				border: none;
				outline: none;
				border-radius: 15px;
				text-transform: capitalize;

				@include laptop() {
					font-size: .85rem;
				}
			}
		}

		.right {
			width: 100%;
			height: 500px;
			@include flex($justify:flex-end);
			position: relative;

			img {
				object-fit: contain;
				@include equal(inherit);
				position: absolute;
				top: 0rem;
				right: -150px;
				scale: 1.5;

				@include laptop() {
					scale: 1;
				}
			}
		}
	}

	// page 4
	.roadmap-container {
		padding-top: 5rem;
		@include flex($direction:column);
		gap: 7rem;
		padding-inline: 2.5rem;
		overflow: hidden;

		@include laptop() {
			// @include flex($justify:space-between);
			// gap: 2rem;
		}

		.left {
			width: 100%;
			@include flex($direction:column);
			gap: 1.5rem;

			@include laptop() {
				width: 60%;
			}

			h3 {
				font-size: 14px;
				font-family: zen;
				text-transform: uppercase;
				font-weight: 400;
				margin-bottom: 1rem;
			}

			ul {
				@include flex($direction:column);
				list-style-type: none;
				gap: 1rem;
				min-width: 100%;

				li {
					height: 50px;
					width: 100%;
					@include flex();
					gap: 2rem;
					padding-inline: 1rem;

					span {
						@include flex;

						&:nth-of-type(1) {
							padding: .5rem 2rem;
							border-radius: 2rem;
							height: 45px;
							width: 60%;
							background: linear-gradient(110.97deg,
									rgba(255, 255, 255, 0.5) -4.87%,
									rgba(110, 162, 200, 0.5) -4.87%,
									rgba(255, 255, 255, 0.268229) 45.57%,
									rgba(255, 255, 255, 0) 103.95%);
							backdrop-filter: blur(25px);
							font-family: aeonik;
						}

						&:nth-of-type(2) {
							font-family: zen;
							text-transform: uppercase;
							color: rgba(124, 159, 188, 1);
						}
					}

					&:nth-of-type(even) {
						@include flex($justify:flex-end)
					}

					&:nth-of-type(odd) {
						@include flex($justify:flex-start)
					}

					&:nth-of-type(4) {
						position: relative;

						span:nth-of-type(2) {
							position: absolute;
							left: 25%;

							@include laptop() {
								left: 30%;
							}
						}
					}
				}
			}
		}

		.right {
			width: 100%;
			@include flex($direction:column);
			gap: 3.5rem;

			@include laptop() {
				width: 45%;
				gap: 2.5rem;
			}

			h3 {
				font-size: 14px;
				font-family: zen;
				text-transform: capitalize;
				font-weight: 400;
			}

			div {
				@include equal(185px);
				margin-block: .75rem;

				img {
					object-fit: contain;
					@include equal(inherit);
				}
			}

			ul {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 2rem;
				place-items: flex-start;
				width: 100%;
				list-style: none;

				@include laptop() {
					width: 80%;
					gap: 4rem;
				}

				li {
					@include flex();
					gap: 1rem;
					--margin: 1rem;

					span {
						font-family: aeonik;
						font-size: 13px;
						@include flex;

						&:nth-of-type(1) {
							@include equal(20px);
						}
					}

					&:nth-of-type(1) {
						margin-bottom: var(--margin);

						span {
							&:nth-of-type(1) {
								background-color: rgba(114, 167, 158, 1);
							}
						}
					}

					&:nth-of-type(2) {
						margin-bottom: var(--margin);

						span {
							&:nth-of-type(1) {
								background-color: rgba(0, 43, 180, 1);
							}
						}
					}

					&:nth-of-type(3) {
						margin-top: var(--margin);

						span {
							&:nth-of-type(1) {
								background-color: rgba(27, 169, 234, 1);
							}
						}
					}

					&:nth-of-type(4) {
						margin-top: var(--margin);

						span {
							&:nth-of-type(1) {
								background-color: rgba(176, 180, 0, 1);
							}
						}
					}
				}
			}
		}
	}

	footer {
		padding: 5rem 0 2rem 0;
		@include flex($justify:flex-start);
		gap: 5rem;
		padding-inline: 2.5rem;
		overflow: hidden;
		font-family: $montserrat;

		@include laptop() {
			padding: 5rem 8rem;
			@include flex($justify:space-between);
			gap: 10rem;
		}

		>ul {
			list-style-type: none;
			@include flex($direction:column, $align:flex-start);
			gap: 1rem;

			li {
				text-transform: capitalize;
				font-size: 13px;
				font-weight: 500;

				&:first-of-type {
					color: rgba(123, 159, 188, 1);
				}
			}
		}
	}
}